canvas {
	background-image: url("http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/857/thumbs/tileable-classic-nebula-space-patterns-6.jpg");
	background-color: lightgrey;
	display: block;
	margin: auto;
}